* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width:100%;
    height: 100vh;
    background: linear-gradient(to left top, rgb(162, 28, 175), rgb(2, 132, 199), rgb(139, 92, 246));
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    width: 344px;
    background-color: #212327;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.display {

}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    text-align: right;
}

input#d-main {
    font-size: 40px;
}

input#d-history {
    font-size: 20px;
    color: #747477;
}

.numpad .row{
    display: flex;
    justify-content: space-between;
}

.row button {
    width: 60px;
    height: 60px;
    background-color: #2e2f38;
    border-radius: 24px;
    border: #2e2f38;
    outline: none;
    color: #fff;
    font-size: 26px;
    margin: 8px;
}

.row button.equals {
    flex: 1;
}

button.operator-1 {
    background-color: #4e505f;
}
button.operator-2 {
    background-color: #4b5efc;
}

.numpad {
    padding: 20px
    background-color #27292e;
    border-radius: 32px 32px 10px ;
}

.custom-shape-divider-top-1708359381 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1708359381 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 211px;
}

.custom-shape-divider-top-1708359381 .shape-fill {
    fill: #713ABE;
}